.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    max-height: 250px;
    overflow-y: scroll;
  }

.thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: grey;
}

.tr {
  display: table-row;
  vertical-align: inherit;
  border-color: grey;
}